.main {
  gap: 2rem;
}

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.gap-2 {
  gap: 4.7px;
}
.gap-1 {
  gap: 2.2px;
}

